@font-face {
    font-family: "main";
    src: url(../assets/fonts/ArimaKoshi-Bold.otf);
}
@font-face {
    font-family: "all";
    src: url(../assets/fonts/Acme-Regular.ttf);
}
@font-face {
    font-family: "title";
    src: url(../assets/fonts/KGHAPPY.ttf);
}
body {
    overflow-x: hidden;
    margin: 0;
    font-family: all;
}
.left {
    position: fixed;
    top: 0;
    left: 0;
    width: 17%;
    height: 100vh;
    background-color: #cce5ff;
}
.right {
    position: absolute;
    top: 0;
    left: 17%;
    width: 83%;
}
nav a {
    display: block;
    padding: 5px 20px;
    margin-top: 30px ;
    font-size: 150%;
    color: #002266;
    text-decoration: none;
    
}
nav a:active,.active {
    background-color: #ffffff;
    border-left: 10px solid #002266;
}
nav a:hover {
    border-left: 10px solid #002266;
    transition: .1s ease-in;
}
nav p {
    text-align: center;
    margin: 50px auto 20px auto;
    color:  #002266;
    font-size: 250%;
    width: 95%;
}
nav hr {
    border:1px solid #ffcc00;
    width: 80%;
}
header {
    background-image: url(../assets/img/brn1.jpg);
    background-size:cover ;
    padding: 10px 20px;
    width: 100%;
}
.title {
    font-family: title;
    color: #ffcc00;
    font-size: 280%;
    margin: 30px 0 0 0;
}
.bottom {
    font-size: 150%;
    color: #997a00;
}

.main {
    font-family: main;
    color: #002266;
    font-size: 150%;
    text-align: center;
    padding: 0 50px;
    width: 80%;
    letter-spacing: .5px;
    margin: 0 auto;
}
.right hr {
    border:3px solid #ffcc00;
    width: 30%;
    margin: 50px auto;
    border-radius: 20px;
}